.button {
    margin-bottom: 16px;
    height: 40px;
    width: 200px;
    font-size: 24px;
}

#gridContainer {
    height: 960px;
    width: 960px;
    display: grid;
}

.square {
    background-color: maroon;
    aspect-ratio: 1 / 1;
    height: 100%;
}

.hover {
    background-color: yellow;
}